.loading-circle {
  width: 5rem;
  height: 5rem;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 2rem;
}

.loading-circle--white {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff;
}

.loading-circle--btn {
  width: 2rem;
  height: 2rem;
  margin-left: 0;
  margin-right: 1rem;
}

/* Анимация вращения */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-stripe {
  pointer-events: none;
  position: relative;
  overflow: hidden; /* Чтобы полоска не выходила за границы */
  opacity: .5;
}

/*.loading-stripe::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(255, 255, 255, 0.6); !* Полупрозрачный белый фон *!*/
/*  z-index: 99999;*/
/*}*/

.loading-stripe::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(70px); /* Размытие полоски */
  animation: loading-stripe 2s infinite ease-in-out;
  z-index: 99999;
}

.loading-stripe.loading-stripe--xs::after {
  height: 200%;
  filter: blur(10px); /* Размытие полоски */
  transform: translateY(-25%);
}

@keyframes loading-stripe {
  0% {
    left: -50%;
  }
  100% {
    left: 125%;
  }
}